html,body
{
height:100%;
}

body {
  padding-top: 4%;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.addBdForm{
  text-align: center;
}

.mandatoryField{
  color:#B20000;
}

/* css du footer */
.footer {
  margin-top: 25px;
  position: static;
  background: none repeat scroll 0% 0% rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  text-align: left;
  width: 100%;
}
/* fin css du footer */


/*css ajout bd */
#addForm .form-group{
  padding-right: 5%;
}

#addImage{
  padding-left:10%;
  padding-top: 5%;
}

#addBtns{
  padding-left: 40%;
}
/*fin css ajout bd */


/*css inscription */

#inscription{
  min-height: 100%;
  height: auto !important;
  margin: 0px auto -55px;
}

#inscriptionForm .form-group{
  padding-right: 35%;
}

#inscriptionImage{
  padding-left: 30%;
  padding-top: 10%;
}

#inscriptionBtn{
  padding-right: 2%;
  padding-left: 2%;
}

#inscriptionBtnRow{
  padding-left: 42%;
}

#acceptCond{
  padding-left: 22%;
  padding-top: 2%;
}

#allMandatory{
  padding-top: 1.5%;
  padding-left: 35%;
}

/*fin css inscription */


/*css connexion */

#connection{
  min-height: 100%;
  height: auto !important;
  margin: 0px auto -55px;
}

#inscriptionLink{
  margin-left: 5%;
  padding-top: 8%;
  padding-bottom: 15%;
  padding-right: 15%;
  padding-left: 6%;
  background-image: url(resources/img/connection1.png);
  background-repeat: no-repeat;
}

#connectionBtnRow{
  padding-top: 5%;
  padding-left: 58%;
}

#connection2Image{
  margin-left: -50%;
  padding-top: 80%;
  padding-bottom: 20%;
}

#hiddenInscriptionBtnRow{
  padding-top: 5%;
  padding-bottom: 10%;
}

#coInscriptionBtn{
  padding-left: 2%;
  padding-right: 2%;
}

#coForm{
  padding-top: 6%;
  padding-bottom: 5%;
  padding-left: 0%;
  padding-right: 15%;
}

#connectSection{
  margin-top: 4%;
  width: auto;
  border:2px solid #006dcc;  
  -moz-border-radius:10px 10px;
  -webkit-border-radius:10px 10px;
  border-radius:10px 10px;
}

/*fin css connexion */


/*css de la page d'une bd */

#pageBd{
  min-height: 100%;
  height: auto !important;
  margin: 0px auto -55px;
  padding-bottom: 4%;
}

#pageBd #bdIsNotInBibliBD{
  padding-top: 3%;
  padding-left: 35%;
}

#pageBd #bdIsInBibliBD{
  padding-top: 3%;
  padding-left: 30%;
}

#pageBd #infoBD{
  background-color:#E4EFFF;
  border:1px solid #9FC6FF;
  padding-top:5%;
  padding-bottom:4%;
  padding-left: 3%;
  padding-right: 3%;
  -moz-border-radius:10px 0;
  -webkit-border-radius:10px 0;
  border-radius:10px 0;
}

#pageBd .changeLinkColor{
  color: #FFFFFF;
}
/* fin css de la page d'une bd */


/*css de la bibliBD */

#displayBibliBD{
  min-height: 100%;
  height: auto !important;
  margin: 0px auto -55px;
}

#displayBibliBD ul.pic {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#displayBibliBD ul.pic li {
  display: inline-block;
  height: 180px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 150px;
}

#displayBibliBD div.text {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

#displayBibliBD div.text div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#displayBibliBD div.text {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
}

#displayBibliBD ul.pic li:hover div.text {
  opacity: 1;
}

#displayBibliBD div.text {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#displayBibliBD #orderTitle{
  padding-top: 2%;
  padding-left: 1.5%;
  padding-bottom: 1%;
}

#displayBibliBD #returnBtn{
  padding-left: 1.5%;
  padding-bottom: 3%;
}

#displayBibliBD .photosSize {
  width: 150px;
  height: 200px;
}
/* fin css de la bibliBD */


/*css de l'accueil */

#accueil{
  min-height: 100%;
  height: auto !important;
  margin: 0px auto -55px;
  padding-bottom: 4%;
  padding-top: 1%;
}

/*css du carousel de la page d'accueil */

#accueil #slides_control > div{
  height: 340px;
}
#accueil img{
  margin:auto;
  width: auto;
  height: 300px;
}
#accueil #slides_control {
  position:relative;
  width: 200px;
  /*left:50%;*/
  top:20px;
  /*margin-left:-200px;*/
}

/*css du reste de la page d'accueil */

#accueil ul.pic {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#accueil ul.pic li {
  display: inline-block;
  margin: 0 1em 1em 0;
  position: relative;
  width: 150px;
}

#accueil div.text {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

#accueil div.text div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#accueil div.text {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
}

#accueil ul.pic li:hover div.text {
  opacity: 1;
}

#accueil div.text {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#accueil #orderTitle{
  padding-top: 2%;
  padding-left: 1.5%;
  padding-bottom: 1%;
}

#accueil #returnBtn{
  padding-left: 1.5%;
  padding-bottom: 3%;
}

#accueil .photosSize {
  width: 150px;
  height: 180px;
}

#accueil #photoContainer{
  padding-top: 3%;
}
/* fin css de l'accueil */