<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Titre</title>
  <script src="angular.js"></script>
  <script src="module.js"></script>
  <script src="test.js"></script>
  <script src="testService.js"></script>
</head>

<body ng-controller="TestController" ng-init="initController();">
	<input type="text" ng-model="search" ng-change="test(search)" />

  <button ng-click="test(currentPrinted)">Test</button>

	<button ng-click="lastOrder();" ng-disabled="currentOrder<=0">Back</button>
	<ul>
    <li ng-repeat="printed in currentPrinted | filter:search | orderBy:filterOrders" ng-click="nextOrder(bd[filterOrders[currentOrder]]);">
      <p>{{printed}}</p>
    </li>
  </ul>
  <ul>
    <li ng-repeat="printed in currentPrinted | filter:search | orderBy:filterOrders" ng-click="nextOrder(bd[filterOrders[currentOrder]]);">
      <div ng-show="currentOrder < filterOrders.length-1">
        <p>{{printed}}</p>
      </div>
      <div ng-hide="currentOrder < filterOrders.length-1">
        <p>je suis une patate</p>
      </div>
    </li>
  </ul>
</body>
</html>